.search-results-list .result-row{
  display: block;
  width: 100%;
  background: transparent;
  border: 0;
  font-family: inherit;
  text-align: left;
  cursor: pointer;
  padding:15px 15px;
  transition: 250ms ease background;
}

.search-results-list .result-row:hover{
  background: #ebebeb;
}

.search-results-list .result-row:focus{
  outline:0;
}

.search-results-list .result-row .place_name{
  font-weight: bold;
  display: block;
}

.search-results-list .result-row .place_type{
  color:#afafaf;
}
