.directions-overview{
  padding-top:7px;
  padding-bottom:7px;
}

.directions-overview .flex{
  align-items: center;
}
.directions-overview .close-button{
  background: #ebebeb;
  border: 0;
  height: 35px;
  width: 35px;
  padding: 5px;
  border-radius: 50px;
  color: #afafaf;
  cursor: pointer;
  transition: 250ms ease color, 250ms ease background;
}

.directions-overview .close-button:hover{
  color:#141414;
  background: #afafaf;
}

.directions-overview .title{
  font-size: 1.25rem;
  font-weight: bold;
}

#app .container .directions-overview .search-form{
  background: #ebebeb;
  max-width: 90%!important;
  margin:auto;
}

#app .container .directions-overview .search-form:focus-within{
  background:#d6d6d6;
}

#app .container .directions-overview .search-results-list{
  margin-top:10px;
}

#app .container .directions-overview .route-details{
  padding:10px 15px;
  align-items: center;
  justify-content: space-between;
  margin-top:10px;
}

#app .container .directions-overview .route-details .via{
  padding-right:15px;
  display: block;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#app .container .directions-overview .route-details .duration{
  display:block;
  color:#afafaf;
}
#app .container .directions-overview .route-details .distance,
#app .container .directions-overview .route-details .duration{
  white-space: nowrap;
}
