#app .viewer{
  position: absolute;
  width: 100%;
  top: 0;
  padding:10px 10px 0px 10px;
  z-index: 10
}

.shadow-map{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}
.shadow-map-bottom{
  box-shadow: rgba(0, 0, 0, 0.21) 0px 3px 4px;
}


@media screen and (min-width:600px){
  #app .viewer{
    width: calc(100% - 50px)
  }
}
