#app .viewer{
  position: absolute;
  width: 100%;
  top: 0;
  padding:10px 10px 0px 10px;
  z-index: 10
}

.window{
  min-height:150px;
  background: #fff;
  border-radius:5px;
  margin-top:20px;
  max-height:300px;
  position: relative;
  overflow: auto;
}

.window .spinner{
  position: absolute;
  top:50px;
  left:0;
  right:0;
}

.flex{
  display:flex;
}

.flex.flex-wrap{
  flex-wrap: wrap;
}

.flex.space-between{
  justify-content: space-between;
}

.flex.flex-shink{
  flex-shrink: 1;
}

.p-2{
  padding:.5rem!important;
}


.py-2{
  padding-top:.5rem!important;
  padding-bottom:.5rem!important;
}

.px-4{
  padding-left:1rem!important;
  padding-right:1rem!important;
}


a{
  color:#2b7fd6;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.mt-1{
  margin-top:.25rem!important
}
.mt-2{
  margin-top:.5rem!important
}

.shadow-map{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}
.shadow-map-bottom{
  box-shadow: rgba(0, 0, 0, 0.21) 0px 3px 4px;
}


@media screen and (min-width:600px){
  #app .viewer{
    width: 525px
  }
  .window{
    width:500px;
    max-height:calc(100vh - 100px);
  }
}
