.welcome-window{
    padding:20px;
}

.welcome-window h3{
    margin-top:0;
}

.welcome-window .section .title{
    text-transform: uppercase;
    font-weight: bold;
    color: #afafaf;
    font-size: 12px;
}
.welcome-window .section p{
    margin-top:5px;
}