.mapZoomControl{
    top:75px!important
}

.mapRotateControl{
    top:140px!important;
}

.mapScale{
  bottom:40px!important;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl.mapboxgl-ctrl-group{
  margin-top: 180px;
}

@media screen and (min-width:600px){
  .mapZoomControl{
      top:10px!important
  }

  .mapRotateControl{
      top: 80px!important;
  }

  .mapScale{
    bottom:30px!important;
  }
  .mapboxgl-ctrl-top-right .mapboxgl-ctrl.mapboxgl-ctrl-group{
    margin-top: 125px;
    opacity: 0.9;
  }

}
